<div class="row">
    <div class="col-xs-12">
        <img [src]="singleRecipe.imagePatch" [alt]="singleRecipe.name" class="img-rensponsive"
            style="max-height: 350px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{singleRecipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type='button' class="btn btn-primary dropdown-toggle">Manage<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Add Ingridients to shopping List</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{singleRecipe.descryption}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>